<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title></title>
<link rel="stylesheet" href="static/css/reset.css">
<link rel="stylesheet" href="static/css/base.css">
<script src="static/js/conversion.750.js"></script>
<script src="static/js/zepto.min.js" charset="utf-8"></script>
<script src="static/js/vue.js" charset="utf-8"></script>
<script src="static/js/shell.js" charset="utf-8"></script>
<script>
Shell.init();
</script>
</head>

<body>
<style>
	html,body{background:#f7f7f7;}
</style>

<div id="app" v-cloak>
	<div class="punch_target">
		<div class="punch_time_mdl">
			<div class="punch_circle">
				<div 
					class="punch_circle_main" 
					:style="'background-color:'+targetTimes[targetTimeIndex].bgColor"
				>
					<p>{{langData.punchTarget.targetTitle}}</p>
					<h3>{{checkData.targetTimeMinute}}</h3>
					<p>{{langData.punchTarget.minuteText}}</p>
				</div>
				<img class="cloud01 cloud" src="static/images/cloud_img01.png" alt="">
				<img class="cloud02 cloud" src="static/images/cloud_img01.png" alt="">
				<img class="cloud03 cloud" src="static/images/cloud_img02.png" alt="">
			</div>

			<div class="punch_time_num">
				<ul class="num_list">
					<li v-for="(item, index) in targetTimes">{{item.min}} min</li>
				</ul>
				<ul class="time_list">
					<li 
						v-for="(item, index) in targetTimes" 
						@click="changeTargetTimeFn(item.min,index,$event)"
						v-bind:class="{act : targetTimeIndex==index}"
					><i class="icons ico_gou"></i></li>
				</ul>
			</div>
			<div class="tip_txt">
				<p>{{langData.punchTarget.targetTip}}</p>
			</div>
		</div>
		<ul class="punch_target_btn">
	<!--
			<li><a href="javascript:;">
				<h4><i class="icons ico_email"></i>邮箱提醒</h4>
				<span>通过绑定邮箱提醒您学习</span>
				<i class="icons ico_tri"></i>
			</a></li>
	-->
			<li>
				<h4><i class="icons ico_day"></i>{{langData.punchTarget.remindText}}</h4>
				<div class="on_off_btn">
					<input type="checkbox" name="tip" :checked="checkData.remind==1" id="tipBtn" @click="tipChangeFn(checkData.remind)" />
					<label for="tipBtn"></label>
				</div>
			</li>
		</ul>
		<div class="gray_txt">{{langData.punchTarget.remindTip}}</div>
	</div>
</div>
<script src="static/js/common.js"></script>
<script type="text/javascript">
var defaultTime = '';	//默认目标时间
var minVal = 0;	//打卡目标选择的值
	
//vue实例加载完后执行的函数
function vmCreated(){
	
	//设置页面标题栏
	var param = {
		name: "punch-target",
		title: common.langDatas.punchTarget.title,
		leftIcon: "back",		//or "close" ，缺省即back
		rightText: common.langDatas.punchTarget.headRightTxt,	//不设此项则不显示右侧文字按钮
		rightTextColor: "#1788D2",
		rightTextIcon: "book",	//or "book"
		backgroundColor: "#ffffff"	//不设则默认白色
	}
	Shell.setPageTitle(JSON.stringify(param));
	$('title').text(common.langDatas.punchTarget.title);
	
	punchCheck();	//查询打卡
	
}

//打卡查询
function punchCheck(){
	common.ajaxFn({
		url:'/api/userPunch/detail',
		success:(res) => {
			var checkData = res.data;
			checkData['targetTimeMinute'] = checkData.targetTime/60;
			defaultTime = checkData.targetTime/60;	//存储当前的打卡目标值
			vm.targetTimes.forEach((item,i)=>{
				if(item.min==checkData.targetTimeMinute){ vm.targetTimeIndex=i; }
			});
			vm.checkData = checkData;
		}
	});
}	
	
//修改打卡目标
function punchTargetFn(min){
	common.ajaxFn({
		url:'/api/userPunch/updateTarget',
		data:{
			targetTime:min
		},
		type:'POST',
		success:(res) => {
			defaultTime = min;
			common.addTocarTips(common.langDatas.punchTarget.saveSuccessTxt);
		}
	});
};

//修改打卡更新状态
function punchTipStatusFn(status){
	common.ajaxFn({
		url:'/api/userPunch/updateRemind',
		isLoading:false,
		data:{
			remind:status	//状态0：关闭，1：开启
		},
		type:'POST',
		success:(res) => {
			
		}
	});
};
	
$(function(){
	
	//获取用户id再执行函数
	Shell.getSessionId(function(res){
		common.sessionId = res;
		common.vueIsLoad && vmCreated();
	});
	
	//监听标题栏右侧按钮事件
	Shell.addListener({event:"EVENT_ACTION_PRESSED",callback:function(){
		//var nowTime = parseInt($('.time_list li.act').attr('data-min'));
		if(defaultTime == vm.checkData.targetTimeMinute){
		   	common.addTocarTips(common.langDatas.punchTarget.saveErrorTxt);
		}else{
			punchTargetFn(vm.checkData.targetTimeMinute);
		}
	}});
	
});
</script>
</body>
</html>
