<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title></title>
<link rel="stylesheet" href="static/css/reset.css">
<link rel="stylesheet" href="static/css/share.css">
<script src="static/js/conversion.750.js"></script>
<script src="static/js/zepto.min.js" charset="utf-8"></script>
<script src="static/js/vue.js" charset="utf-8"></script>
<!--
<script src="static/js/shell.js" charset="utf-8"></script>
<script>
Shell.init();
</script>
-->
</head>

<body class="gray_body">
<div id="app" v-cloak>

<!--顶部提示下载-->
<div :class="['share_top','clearfix',{download_show:downloadIsShow}]">
	<div class="logo"><img src="static/images/logo.png" alt=""></div>
	<a :href="isIos?langData.shareData.downloadAppleUrl:'#download_mdl'" class="down_btn">
		{{langData.shareData.topBtn}}
	</a>
	<div class="info">
		<h3>{{langData.shareData.topTitle}}</h3>
		<p>{{checkShareData.shareTitle}}</p>
	</div>
	<span class="close_btn" @click="closeDownloadFn"><i class="icons"></i></span>
</div>
	
<!--配音课头部-->
<div class="dub_head">
	<div class="dub_video">
		<div class="title" id="videoTitle">{{checkShareData.chapterName.zh}}</div>
		<video id="video" :src="checkShareData.video" muted="true"  x5-video-player-type="h5" playsinline webkit-playsinline="true"></video>
		<audio id="userAudio" style="display:none;" :src="checkShareData.userAudio"></audio>
		<img class="play_btn" id="playBtn" src="static/images/ico_play.png" alt="">
	</div>
	<div class="share_score">
	  	<div class="score_top">
			<p class="txt">
				{{langData.shareDub.score_text01}}<br>
				{{langData.shareDub.score_text02}}
				<span>{{checkShareData.accuracyScore}}%</span>
				{{langData.shareDub.score_text03}}
			</p>
			<div class="score_num">{{checkShareData.score}}</div>
			<a class="btn" :href="isIos?langData.shareData.downloadAppleUrl:'#download_mdl'">
				{{langData.shareData.challengeBtn}}
			</a>
		</div>
		<div class="score_box">
			<ul class="score_list clearfix">
				<li class="yellow">
					<span>{{checkShareData.rhythmScore}}</span>
					<p>{{langData.shareData.pronounce}}</p>
				</li>
				<li class="green">
					<span>{{checkShareData.fluencyScore}}</span>
					<p>{{langData.shareData.fluency}}</p>
				</li>
				<li class="blue">
					<span>{{checkShareData.integrityScore}}</span>
					<p>{{langData.shareData.intact}}</p>
				</li>
				<li class="red">
					<span>{{checkShareData.accuracyScore}}</span>
					<p>{{langData.shareData.accuracy}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--录音列表-->
<div class="share_record">
	<div class="record_title"><i class="icons ico_zan"></i>{{langData.shareData.bestTitle}}</div>
	<div class="record_list">
		
		<div class="record_item" v-for="(item,index) in checkShareData.paraList">
			<h4 class="tit">{{item.content.zh}}</h4>
			<ul class="audio_list">
				<li>
					<div class="play_box" @click="playAudio('user',index)">
						<img :src="checkShareData.headImg" alt="">
						<div class="mask"></div>
						<i :class="item.isUserPlay?'icons ico_stop':'icons ico_play'"></i>
					</div>
					<div class="text">
						{{langData.shareData.recordText01}} - <span class="orange">{{item.score}}{{langData.shareData.scoreText}}</span>
					</div>
					
				</li>
				<li>
					<div class="play_box" @click="playAudio('para',index)">
						<i :class="item.isParaPlay?'icons ico_stop':'icons ico_play'"></i>
						<div class="progress"></div>
					</div>
					<div class="text">{{langData.shareData.recordText02}}</div>
				</li>
			</ul>
		</div>
		
		<audio id="spokenAudio" class="audio" :src="shareMediaUrl"></audio>
		
	</div>
</div>

<!--下载-->
<div class="download_mdl" id="download_mdl">
	<div class="down_head">
		<div class="title">
			<h3>{{langData.shareData.headTitle}}</h3>
			<p>{{checkShareData.shareDesc}}</p>
		</div>
		<img class="head_img" src="static/images/share_img01.jpg" alt="">
		<img class="down_tit" src="static/images/down_head.png" alt="" >
	</div>
	<div class="down_btns"  v-if="isAndroid || isPc">
		<a :href="langData.shareData.downloadAppleUrl" v-if="isPc">
			<img src="static/images/downbtn01.png" alt="">
		</a>
		<a :href="langData.shareData.downloadGPUrl">
			<img src="static/images/downbtn02.png" alt="">
		</a>
		<a :href="langData.shareData.downloadMyappUrl">
			<img src="static/images/downbtn03.png" alt="">
		</a>
	</div>
	<div class="down_btns2" v-if="isIos">
		<a class="apply_btn" :href="langData.shareData.downloadAppleUrl">
			<i class="icons"></i>
			<h4>Download</h4>
			<p>on the App Store</p>
		</a>
	</div>
</div>
	
	
</div>
<script src="static/js/common.js"></script>
<script>
	
//vue实例加载完后执行的函数
function vmCreated(){
	
	//设置页面标题栏
//	var param = {
//		name: "share-dub",
//		title: common.langDatas.shareDub.title,	
//		leftIcon: "back",		//or "close" ，缺省即back
//		backgroundColor: "#00ffffff"	//不设则默认白色
//	}
//	Shell.setPageTitle(JSON.stringify(param));
	$('title').text(common.langDatas.shareDub.title);
	
	common.ajaxFn({
		url:`/api/shareInfo/dubChaShareInfo/${common.shareId}`,
		success:(res)=>{
			var datas =  res.data;
			if(datas.paraList){
				datas.paraList.forEach(item=>{
					item.isUserPlay = false;
					item.isParaPlay = false;
				});
			}
			vm.checkShareData = datas;
			
			//根绝接口传入的语言加载语言包
			if(datas.lan != common.currentLang && datas.lan){
			   	common.langTag(datas.lan,function(result){
					vm.langData = result;
				});
			}
			
			//给ul父级设置个宽度
			var ul_width = 5;
			$('.score_list li').each(function(i){
				var thisW = $(this).width();
				var thisML = parseFloat($(this).css('margin-left'));
				ul_width = ul_width + thisW + thisML;
			})
			$('.score_list').width(ul_width);

			//视频播放
			var videoObj = $('#video').get(0);
			var audioObj = $('#userAudio').get(0);
			$('#playBtn').on('click',function(){
				videoObj.play();
				audioObj.play();
			});

			$('#video').on('click',function(){
				var spokenAudio = $('#spokenAudio').get(0);
				spokenAudio.pause();
				if(videoObj.paused){ //如果已暂停则播放
					videoObj.play(); //播放控制
					audioObj.play();
				}else{ // 已播放点击则暂停
					videoObj.pause(); //暂停控制
					audioObj.pause();
				}
			});
			
			//监听视频播放触发
			videoObj.addEventListener("play",function(){
				
				$('#playBtn').hide();
				$('#videoTitle').hide();
			},false);
			//监听暂停触发
			videoObj.addEventListener("pause",function(){
				$('#playBtn').show();
				$('#videoTitle').show();
			},false);
			
			//监听音频停止事件
			var spokenAudio = $('#spokenAudio').get(0);
			spokenAudio.addEventListener("pause",function(){
				var audioDataList = vm.checkShareData.paraList;
				audioDataList.forEach(item=>{
					item.isUserPlay = false;
					item.isParaPlay = false;
				});
			},false);	
		}
	});
}


$(function(){
	
	//获取用户id再执行函数
//	Shell.getSessionId(function(res){
//		common.sessionId = res;
//		common.vueIsLoad && vmCreated && vmCreated();
//	});
	
});
</script>
</body>
</html>
