<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title></title>
<link rel="stylesheet" href="static/css/reset.css">
<link rel="stylesheet" href="static/css/share.css">
<script src="static/js/conversion.750.js"></script>
<script src="static/js/zepto.min.js" charset="utf-8"></script>
<script src="static/js/vue.js" charset="utf-8"></script>
<!--
<script src="static/js/shell.js" charset="utf-8"></script>
<script>
Shell.init();
</script>
-->
</head>

<body class="gray_body">
<div id="app" v-cloak>
	
<!--顶部提示下载-->
<div :class="['share_top','clearfix',{download_show:downloadIsShow}]">
	<div class="logo"><img src="static/images/logo.png" alt=""></div>
	<a :href="isIos?langData.shareData.downloadAppleUrl:'#download_mdl'" class="down_btn">
		{{langData.shareData.topBtn}}
	</a>
	<div class="info">
		<h3>{{langData.shareData.topTitle}}</h3>
		<p>{{checkShareData.shareTitle}}</p>
	</div>
	<span class="close_btn" @click="closeDownloadFn"><i class="icons"></i></span>
</div>
	
<!--口语课头部-->
<div class="spoken_head">
	<div class="spoken_data">
		<div class="title">
			<h3>{{checkShareData.chapterName.zh}}</h3>
			<p>{{checkShareData.chapterName.en?checkShareData.chapterName.en:'--'}}</p>
		</div>
		<!--图表-->
		<div class="spoken_charts" id="spoken_charts"></div>
		
		<div class="shadow_bg"></div>
	</div>
	<div class="share_user">
		<div class="per_img"><img :src="checkShareData.headImg" alt=""></div>
		<a :href="isIos?langData.shareData.downloadAppleUrl:'#download_mdl'"  class="btn">
			{{langData.shareData.challengeBtn}}
		</a>
		<div class="info">
			<h3>{{langData.shareSpoken.headTypeText}}</h3>
			<p>
				{{langData.shareSpoken.headGetText}}
				<span class="yellow">10</span>
				<i class="icons ico_money"></i>
			</p>
		</div>
	</div>
</div>

<!--录音列表-->
<div class="share_record">
	<div class="record_title"><i class="icons ico_zan"></i>{{langData.shareData.bestTitle}}</div>
	<div class="record_list">
		
		<div class="record_item" v-for="(item,index) in checkShareData.paraList">
			<h4 class="tit">{{item.content.zh}}</h4>
			<ul class="audio_list">
				<li>
					<div class="play_box" @click="playAudio('user',index)">
						<img :src="checkShareData.headImg" alt="">
						<div class="mask"></div>
						<i :class="item.isUserPlay?'icons ico_stop':'icons ico_play'"></i>
					</div>
					<div class="text">
						{{langData.shareData.recordText01}} - <span class="orange">{{item.score}}{{langData.shareData.scoreText}}</span>
					</div>
					
				</li>
				<li>
					<div class="play_box" @click="playAudio('para',index)">
						<i :class="item.isParaPlay?'icons ico_stop':'icons ico_play'"></i>
						<div class="progress"></div>
					</div>
					<div class="text">{{langData.shareData.recordText02}}</div>
				</li>
			</ul>
		</div>
		
		<audio id="spokenAudio" class="audio" :src="shareMediaUrl"></audio>
		
	</div>
</div>

<!--下载-->
<div class="download_mdl" id="download_mdl">
	<div class="down_head">
		<div class="title">
			<h3>{{langData.shareData.headTitle}}</h3>
			<p>{{checkShareData.shareDesc}}</p>
		</div>
		<img class="head_img" src="static/images/share_img01.jpg" alt="">
		<img class="down_tit" src="static/images/down_head.png" alt="" >
	</div>
	<div class="down_btns"  v-if="isAndroid || isPc">
		<a :href="langData.shareData.downloadAppleUrl" v-if="isPc">
			<img src="static/images/downbtn01.png" alt="">
		</a>
		<a :href="langData.shareData.downloadGPUrl">
			<img src="static/images/downbtn02.png" alt="">
		</a>
		<a :href="langData.shareData.downloadMyappUrl">
			<img src="static/images/downbtn03.png" alt="">
		</a>
	</div>
	<div class="down_btns2" v-if="isIos">
		<a class="apply_btn" :href="langData.shareData.downloadAppleUrl">
			<i class="icons"></i>
			<h4>Download</h4>
			<p>on the App Store</p>
		</a>
	</div>
</div>

</div>
<script src="static/js/echarts.min.js"></script><!--echart图表插件-->
<script src="static/js/echarts-gl.min.js"></script><!--echart扩展图表插件-->
<script src="static/js/common.js"></script>
<script>
//vue实例加载完后执行的函数
function vmCreated(){
	//设置页面标题栏
//	var param = {
//		name: "share-spoken",
//		title: common.langDatas.shareSpoken.title,	
//		leftIcon: "back",		//or "close" ，缺省即back
//		backgroundColor: "#00ffffff"	//不设则默认白色
//	}
//	Shell.setPageTitle(JSON.stringify(param));
	$('title').text(common.langDatas.shareSpoken.title);
	
	common.ajaxFn({
		url:`/api/shareInfo/oralChaShareInfo/${common.shareId}`,
		success:(res)=>{
			var datas =  res.data;
			
			//根绝接口传入的语言加载语言包
			if(datas.lan != common.currentLang && datas.lan){
			   	common.langTag(datas.lan,function(result){
					vm.langData = result;
				});
			}
			
			if(datas.paraList){
				datas.paraList.forEach(item=>{
					item.isUserPlay = false;
					item.isParaPlay = false;
				});
			}
			vm.checkShareData = datas;
			chartsFn();	
		}
	});
	
	//监听音频停止事件
	var spokenAudio = $('#spokenAudio').get(0);
	spokenAudio.addEventListener("pause",function(){
		var audioDataList = vm.checkShareData.paraList;
		audioDataList.forEach(item=>{
			item.isUserPlay = false;
			item.isParaPlay = false;
		});
	},false);
}	

function chartsFn(){
	var chartsHeight = $('#spoken_charts').height()/2;
	var barWidth = 40*chartsHeight/350;
	var barInterval =16*chartsHeight/350;
	var color= ['#ff5555', '#35afff','#5fce51', '#ffc10a'];
	
	var shareSpokenData = common.langDatas.shareSpoken;
	
	var dataStyle = {
		normal: {
			label: {
				show: false
			},
			labelLine: {
				show: false
			},
			shadowBlur: 40,
			borderWidth: 10,
			shadowColor: 'rgba(0, 0, 0, 0)' //边框阴影
		}
	};
	var placeHolderStyle = {
		normal: {
			color: 'rgba(255,255,255,.12)',
			label: {
				show: false
			},
			labelLine: {
				show: false
			}
		},
		emphasis: {
			color: '#393d50'
		}
	};
	option = {
		backgroundColor: 'transparent',
		title: {
			text: vm.checkShareData.score,
			left:'22%',
			x: 'center',
			y: 'center',
			textStyle: {
				fontWeight: 'bold',
				fontSize: 40,
				color: "#ffffff",
			}
		},
		tooltip: {
			trigger: 'item',
			show: true,
			formatter: "{b} : <br/>{d}%",
			//backgroundColor: 'rgba(0,0,0,0.7)', // 背景
			padding: [8, 10], //内边距
			extraCssText: 'box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);', //添加阴影
		},
		legend: {
			orient: 'vertical',
			// icon: 'circle',
			left: '75%',
			top: '20',
			itemWidth:35*chartsHeight/350,
			itemHeight:35*chartsHeight/350,
			itemGap:20,
			 data: [shareSpokenData.accuracy, shareSpokenData.fluency, shareSpokenData.intact,shareSpokenData.pronounce],
			textStyle: {
				color: '#ffffff'
			}
		},
		series: [{
				name: 'Line 1',
				type: 'pie',
				clockWise: true,
				radius: [chartsHeight-barWidth, chartsHeight],
				center:['32%','50%'],
				itemStyle: dataStyle,
				hoverAnimation: false,
				startAngle: 90,
				label:{
					borderRadius:'10',
				},
				data: [
					{
						value: vm.checkShareData.accuracyScore,
						name: shareSpokenData.accuracy,
						itemStyle: {
							normal: {
								color: color[0]
							}
						}
					},
					{
						value: 100-vm.checkShareData.accuracyScore,
						name: '',
						tooltip: {
							show: false
						},
						itemStyle: placeHolderStyle
					}
				]
			},
			{
				name: 'Line 2',
				type: 'pie',
				clockWise: true,
				radius: [chartsHeight-barWidth*2-barInterval, chartsHeight-barWidth-barInterval],
				center:['32%','50%'],
				itemStyle: dataStyle,
				hoverAnimation: false,
				startAngle: 90,
				label:{
					borderRadius:'10',
				},
				data: [{
						value: vm.checkShareData.fluencyScore,
						name: shareSpokenData.fluency,
						itemStyle: {
							normal: {
								color:color[1]
							}
						}
					},
					{
						value: 100-vm.checkShareData.fluencyScore,
						name: '',
						tooltip: {
							show: false
						},
						itemStyle: placeHolderStyle
					},
				]
			},
			{
				name: 'Line 3',
				type: 'pie',
				clockWise: true,
				radius: [chartsHeight-barWidth*3-barInterval*2, chartsHeight-barWidth*2-barInterval*2],
				center:['32%','50%'],
				itemStyle: dataStyle,
				hoverAnimation: false,
				startAngle: 90,
				data: [{
						value: vm.checkShareData.integrityScore,
						name: shareSpokenData.intact,
						itemStyle: {
							normal: {
								color: color[2]
							}
						}
					},
					{
						value: 100-vm.checkShareData.integrityScore,
						name: '',
						tooltip: {
							show: false
						},
						itemStyle: placeHolderStyle
					},
				]
			},
			{
				name: 'Line 4',
				type: 'pie',
				clockWise: true,
				radius: [chartsHeight-barWidth*4-barInterval*3, chartsHeight-barWidth*3-barInterval*3],
				center:['32%','50%'],
				itemStyle: dataStyle,
				hoverAnimation: false,
				startAngle: 90,
				data: [{
						value: vm.checkShareData.rhythmScore,
						name: shareSpokenData.pronounce,
						itemStyle: {
							normal: {
								color: color[3]
							}
						}
					},
					{
						value: 100-vm.checkShareData.rhythmScore,
						name: '',
						tooltip: {
							show: false
						},
						itemStyle: placeHolderStyle
					},
				]
			}
		]
	};

	var myChart = echarts.init(document.getElementById('spoken_charts'));
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
}

$(function(){
	//获取用户id再执行函数
//	Shell.getSessionId(function(res){
//		common.sessionId = res;
//		common.vueIsLoad && vmCreated();
//	});
	
});
</script>
</body>
</html>
